/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

body {
  font-size: 13px;
}

#container {
  tr {
    height: 5px;
    &.message {
      &.read {
        background-color: #eee;
      }
      &.selected {
        background-color: #ffffcc;
      }
    }
  }
  td {
    height: 5px;
    &.marked {
      border-left: 2px solid #88f;
      width: 0px;
    }
    &.selector {
      width: 0px;
    }
    &.sent {
      width: 100px;
    }
  }
  .folder {
    .btn.active, .btn:active {
      box-shadow: none;
      color: #db4646;
      font-size: 14px;
      font-weight: bold;
    }
    .btn.btn-sm {
      padding: 0px 50px 0px 5px;
    }
  }
  .mesg {
    border-top: 1px solid #dde;
    width: 80%;
    padding-top: 1px;
    .content {
      margin-top: 5px;
      pre {
        font-size: 12px;
      }
    }
  }
  .h4 {
    margin-top: 0;
  }
  .loading-true, .loading-false {
    background-color: #ffc;
    position: absolute;
    left: 22%;
    top: 13px;
    padding: 5px 17px;
  }
  .loading-false {
    display: none;
  }
}
.content {
}
